<h2>About Me</h2>
<p>I'm an artist and a designer. I seek answers through questioning life and learning science. I enjoy good food, great music and extraordinary moments of warmth and happiness</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://www.instagram.com/_ignavihs_/">Instagram</a> &nbsp;&nbsp;&nbsp;
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:shivangi8527@gmail.com">Email</a>
  </li>
</ul>
